{% extends 'base.html' %}

{% block content %}

<form action="" class="sm-container form card flex-col" method="POST">
  {% csrf_token %}
  {% if object %}
    <h2 class="md-txt txt-focus">Edit {{ object.place }}</h2>
  {% else %}
    <h2 class="md-txt txt-focus">Add New Destination</h2>
  {% endif %}
  <div class="md-spacer"></div>
  <section class="fields-container txt-subtle flex-col">
    <label for="">Place</label>
    <div class="xs-spacer"></div>
    <input type="text" name="place" class="card xs-spacer" value="{{ object.place }}" required>
  </section>
  <div class="sm-spacer"></div>
  <section class="fields-container txt-subtle flex-col">
    <label for="">Description</label>
    <div class="xs-spacer"></div>
    <textarea name="description" class="card xs-spacer" required>{{ object.description }}</textarea>
  </section>
  <div class="xs-spacer"></div>
  <section class="fields-container txt-subtle flex-col">
    <button class="confirm btn" type="submit">Confirm</button>
  </section>
</form>

{% endblock %}