{%  extends 'base.html' %}
{% block content %}
<div class="container">
  <h1 class="lg-txt txt-focus txt-header">Mission Statement</h1>
  <div class="xs-spacer"></div>
  <p class="txt-subtle sm-txt">
    A trusted platform for  Nomads and travelers
    to share their experiences around
    the world and learn about new travel destinations
    from other travelers.
  </p>
</div>
<div class="md-spacer"></div>
<div class="grid container">
  {% for destination in destinations %}
    <a href="{% url 'detail' destination.id %}">
      <div class="card main item flex-col sm-spacer">
        <i class="ri-leaf-line md-txt txt-subtle"></i>
        <div class="lg-spacer"></div>
        <div class="main-content">
          <h1 class="lg-txt txt-subtle">{{ destination.place }}</h1>
          <div class="xs-spacer"></div>
          <p class="txt-subtle sm-txt">Posted by {{ destination.user.username }}</p>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}